:root {
    --flag-url: url("../icons/flags/undefined.png");
}  

.profile-details{
    font-family: "Torus";
    color: white;
    position: relative;
    transform: translateY(-80px);
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;

    align-items: center;

    height: 70px;
    z-index: 10;
    display: flex;
}

.profile-background{
    filter: blur(5px) brightness(50%);
    background-image: var(--user-background-url);
    background-color: #302e38a2;
    background-repeat: no-repeat;
    background-position: 150%;
    background-size: cover;
    height: 80px;
}

.profile-details-container{
    padding: 0, 10%;
    height: 80px;
    background: #302e38a2;

    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 40px);
    max-width: 1000px;

    position: relative;
    top: -10px;

    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; 


}

.profile-details-container-grid{
    display: grid;
    align-items: start;
    gap: 15px;
    padding: 10px 50px;
    grid-template-columns: 1fr auto auto;
}

.profile-details-infos{
    margin-left: 10px;
    position: relative;
    width: 83%;
    height: 50px;
    margin-top: 1%;
}

.profile-details-infos__name {
    padding: 0;
    margin: -5px 0 0;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 24px;
}

.profile-details-infos__flag {
    display: block;

    background-image: var(--flag-url);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    filter: saturate(1.1);
    transform: translateZ(0);

    width: 28px;
    height: 28px;
}

.profile-details-infos__flag-title {
    position: relative;
    font-size: 16px;
}

.profile-details-edit-button {
    background-color: rgba(0, 0, 0, 0.213);
    border-radius: 15%;
    height: 50px;
    width: 50px;
}

.profile-infos-container{
    box-shadow: inset 0 2px 10px -1px rgba(0,0,0,.25);

    min-width: 900px;
    background: #252031;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 40px);
    max-width: 1000px;
    position: relative;
    top: -25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;

    font-family: "Torus";
    font-size: 10px;
    line-height: 1.25;
    color: #fff;
}

.profile-infos-stats{
    display: grid;
    grid-template-columns: 1fr auto auto;
    height: 40%;
    width: 300px;
}

.profile-infos_charts{
    height:60px;
    position: relative;
    display: inline-flex;
    margin-top: 5px;
    display: flex;
    font-size: 12px;
}

.profile-infos-ranks{
    display: flex;
    gap: 20px;
}

.profile-infos-separator{
    background-color: #1b191f;
    height: 100%;
    width: 2px;
}

.display-value-ranks{
    display: flex;
    flex-direction: column;
    min-width: 60px;
}

.display-value-ranks-label{
    font-size: 12px;
}

.display-value-ranks-value{
    font-size: 30px;
    font-weight: 200;
    color: #C2B8E0;
}

.profile-infos-details{
    grid-template-columns: auto auto;
    font-size: 12px;
    display: grid;
    gap: 4px 20px;
    align-self: center;

    margin: 10px 0px;
}

.profile-infos-details-entry{
    display: contents;
}

.profile-infos-details-entry__value{
    margin-left: 0;
}

.profile-infos-details-entry__key{
    font-weight: 400;
}

.profile-infos-graph-lines{
    stroke: rgb(133, 34, 255);
    stroke-width: 2px;
    fill: none;
}

.profile-subinfos-container{


    min-width: 900px;
    background: #221d2c;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 40px);
    max-width: 1000px;
    position: relative;
    top: -25px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;

    font-family: "Torus";
    font-size: 10px;
    line-height: 1.25;
    color: #fff;
}

.subinfo-container{
    transform: translateY(0);
    display: flex;
    padding-left: 50px;
    vertical-align: middle;
    padding-bottom: 5px;
}

.display-subinfo-value{
    display: flex;
    min-width: 60px;
    padding-right: 8px;
}

.display-value-subinfo-label{
    font-size: 12px;
    padding-right: 5px;
}

.display-value-subinfo-value{
    font-size: 30px;
    font-weight: 200;
    color: #C2B8E0;
}

.categorie-obj-container{
    margin-top: 5px;
    background: #211d2b;
    border-radius: 10px;

    box-shadow: inset 0 2px 10px -1px rgba(0,0,0,.25);

    min-width: 850px;
    max-width: 950px;
    font-family: "Torus";
    font-size: 10px;
    line-height: 1.25;

    padding-bottom: 5px ;

    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.categorie-title{
    padding-left: 0;
    margin: 0;
    padding: 20px 0 10px 10px;
    font-size: 16px;
    font-weight: normal;
    color: #8169c9;
    display: flex;
    align-items: flex;
}

.categorie-container{
    background-color: #1b191f;
    min-width: 900px;
    padding-top: 5px;
    width: calc(100% - 60px);
    max-width: 1000px;
    position: relative;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;

    padding-bottom: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.favfriend-container{
    display: flex;
    padding-left: 50px;
    vertical-align: middle;
    margin: 10px;

    gap: 10px;
    transform: translateZ(0);
}

.beatmaps-container{
    padding-left: 50px;
    margin: 10px;
}

.sad-message{
    color: #C2B8E0;
    font-size: 20px;
    font-weight: 600;
}